.pmiskpi-banner {
  background-image: url("https://t4.ftcdn.net/jpg/05/70/42/39/360_F_570423993_AL0PHQ8Lv06QmPwmhCm049eorsp6JWHu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  width: 100%;
}
