.planning-banner {
  background-image: url("https://www.emeraldgrouppublishing.com/sites/default/files/image/22388_hero_images_for_news_and_blogs2-1653303012.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  width: 100%;
}
