.career-counselling-banner {
  background-image: url("https://mindsightclinic.com/assets/images/service-career/career-service-topbanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  width: 100%;
}
