.hr-service-banner {
  background-image: url("https://t3.ftcdn.net/jpg/01/03/17/54/360_F_103175439_tKzwnVh2IhrMfLipZXuWnuv5B0qXQqE9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  width: 100%;
}
